In [7]:
# read csv to data frame
import pandas as pd
df1 = pd.read_csv("./Data/JC-201701-citibike-tripdata.csv")
df2 = pd.read_csv("./Data/JC-201702-citibike-tripdata.csv")
df3 = pd.read_csv("./Data/JC-201703-citibike-tripdata.csv")
df4 = pd.read_csv("./Data/JC-201704-citibike-tripdata.csv")
df5 = pd.read_csv("./Data/JC-201705-citibike-tripdata.csv")
df6 = pd.read_csv("./Data/JC-201706-citibike-tripdata.csv")
df7 = pd.read_csv("./Data/JC-201707-citibike-tripdata.csv")
df8 = pd.read_csv("./Data/JC-201708 citibike-tripdata.csv")
df9 = pd.read_csv("./Data/JC-201709-citibike-tripdata.csv")
df10 = pd.read_csv("./Data/JC-201710-citibike-tripdata.csv")
df11 = pd.read_csv("./Data/JC-201711-citibike-tripdata.csv")
df12 = pd.read_csv("./Data/JC-201712-citibike-tripdata.csv")
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,1/1/17 0:21,1/1/17 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,1/1/17 0:24,1/1/17 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,1/1/17 0:38,1/1/17 0:44,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,1/1/17 0:38,1/1/17 1:03,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,1/1/17 1:47,1/1/17 1:58,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [8]:
# Remove the rows with missing data
citibike1_2017 = df1.dropna(how="any")
citibike2_2017 = df2.dropna(how="any")
citibike3_2017 = df3.dropna(how="any")
citibike4_2017 = df4.dropna(how="any")
citibike5_2017 = df5.dropna(how="any")
citibike6_2017 = df6.dropna(how="any")
citibike7_2017 = df7.dropna(how="any")
citibike8_2017 = df8.dropna(how="any")
citibike9_2017 = df9.dropna(how="any")
citibike10_2017 = df10.dropna(how="any")
citibike11_2017 = df11.dropna(how="any")
citibike12_2017 = df12.dropna(how="any")
citibike1_2017.count()

Trip Duration              12522
Start Time                 12522
Stop Time                  12522
Start Station ID           12522
Start Station Name         12522
Start Station Latitude     12522
Start Station Longitude    12522
End Station ID             12522
End Station Name           12522
End Station Latitude       12522
End Station Longitude      12522
Bike ID                    12522
User Type                  12522
Birth Year                 12522
Gender                     12522
dtype: int64

In [9]:
frames = (df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12)
results = pd.concat(frames)
results.to_csv("./CleanData/clean_data.csv")

In [10]:
# Using this to concatenate the csv as it is much faster.

import glob, os 
import pandas as pd
import sys

path = r"./Data/**"
print(path)
all_rec = glob.iglob(os.path.join(path, "*.csv"), recursive=True)    
dataframes = (pd.read_csv(f) for f in all_rec)
print(dataframes)
big_dataframe = pd.concat(dataframes, ignore_index=True)
print(big_dataframe)

./Data/**
<generator object <genexpr> at 0x108bac2b0>
         Trip Duration  Bike ID  Birth Year  End Station ID  \
0                  NaN    24575      1983.0            3185
1                  NaN    24723      1978.0            3198
2                  NaN    24620      1989.0            3211
3                  NaN    24668      1961.0            3271
4                  NaN    26167      1993.0            3203
5                  NaN    24604      1970.0            3270
6                  NaN    24641      1978.0            3206
7                  NaN    24513      1970.0            3213
8                  NaN    24463      1967.0            3213
9                  NaN    24486      1984.0            3225
10                 NaN    24520      1987.0            3225
11                 NaN    24512      1984.0            3203
12                 NaN    24513      1985.0            3202
13                 NaN    24409      1964.0            3209
14                 NaN    24513      1985.0            3186
15                 NaN    24699      1989.0            3267
16                 NaN    24513      1985.0            3213
17                 NaN    24442      1986.0            3213
18                 NaN    26281         NaN            3186
19                 NaN    26194         NaN            3186
20                 NaN    24555      1972.0            3202
21                 NaN    24408      1987.0            3225
22                 NaN    24681      1964.0            3211
23                 NaN    26163      1983.0            3193
24                 NaN    26431      1986.0            3193
25                 NaN    24495      1962.0            3195
26                 NaN    24390      1986.0            3186
27                 NaN    26255      1992.0            3280
28                 NaN    26308      1977.0            3211
29                 NaN    26234      1983.0            3210
...                ...      ...         ...             ...
294898             NaN    29226      1984.0            3186
294899             NaN    29572      1982.0            3203
294900             NaN    29297      1993.0            3183
294901             NaN    29447      1983.0            3267
294902             NaN    29578      1993.0            3214
294903             NaN    26254      1977.0            3267
294904             NaN    26270      1986.0            3194
294905             NaN    29597      1989.0            3209
294906             NaN    26173      1989.0            3213
294907             NaN    29580      1992.0            3213
294908             NaN    26272      1966.0            3203
294909             NaN    29226      1963.0            3203
294910             NaN    26183      1965.0            3199
294911             NaN    29498      1966.0            3275
294912             NaN    29253      1984.0            3203
294913             NaN    29601         NaN            3203
294914             NaN    29618      1964.0            3280
294915             NaN    29298      1970.0            3213
294916             NaN    29635      1990.0            3279
294917             NaN    26170      1975.0            3199
294918             NaN    29277      1985.0            3209
294919             NaN    29503      1970.0            3194
294920             NaN    26255      1987.0            3194
294921             NaN    29674      1992.0            3214
294922             NaN    29526      1956.0            3211
294923             NaN    26287      1991.0            3207
294924             NaN    29472      1993.0            3207
294925             NaN    29572      1992.0            3211
294926             NaN    29199      1985.0            3183
294927             NaN    26289      1965.0            3203

        End Station Latitude  End Station Longitude       End Station Name  \
0                  40.717733             -74.043845              City Hall
1                  40.748716             -74.040443       Heights Elevator
2                  40.721525             -74.046305             Newark Ave
3                  40.692640             -74.088012    Danforth Light Rail
4                  40.727596             -74.044247          Hamilton Park
5                  40.725289             -74.045572        Jersey & 6th St
6                  40.731169             -74.057574                Hilltop
7                  40.718489             -74.047727         Van Vorst Park
8                  40.718489             -74.047727         Van Vorst Park
9                  40.723659             -74.064194  Baldwin at Montgomery
10                 40.723659             -74.064194  Baldwin at Montgomery
11                 40.727596             -74.044247          Hamilton Park
12                 40.727224             -74.033759           Newport PATH
13                 40.724176             -74.050656           Brunswick St
14                 40.719586             -74.043117          Grove St PATH
15                 40.712419             -74.038526           Morris Canal
16                 40.718489             -74.047727         Van Vorst Park
17                 40.718489             -74.047727         Van Vorst Park
18                 40.719586             -74.043117          Grove St PATH
19                 40.719586             -74.043117          Grove St PATH
20                 40.727224             -74.033759           Newport PATH
21                 40.723659             -74.064194  Baldwin at Montgomery
22                 40.721525             -74.046305             Newark Ave
23                 40.724605             -74.078406           Lincoln Park
24                 40.724605             -74.078406           Lincoln Park
25                 40.730743             -74.063784                Sip Ave
26                 40.719586             -74.043117          Grove St PATH
27                 40.719282             -74.071262            Astor Place
28                 40.721525             -74.046305             Newark Ave
29                 40.742677             -74.051789         Pershing Field
...                      ...                    ...                    ...
294898             40.719586             -74.043117          Grove St PATH
294899             40.727596             -74.044247          Hamilton Park
294900             40.716247             -74.033459         Exchange Place
294901             40.712419             -74.038526           Morris Canal
294902             40.712774             -74.036486       Essex Light Rail
294903             40.712419             -74.038526           Morris Canal
294904             40.725340             -74.067622        McGinley Square
294905             40.724176             -74.050656           Brunswick St
294906             40.718489             -74.047727         Van Vorst Park
294907             40.718489             -74.047727         Van Vorst Park
294908             40.727596             -74.044247          Hamilton Park
294909             40.727596             -74.044247          Hamilton Park
294910             40.728745             -74.032108           Newport Pkwy
294911             40.718355             -74.038914         Columbus Drive
294912             40.727596             -74.044247          Hamilton Park
294913             40.727596             -74.044247          Hamilton Park
294914             40.719282             -74.071262            Astor Place
294915             40.718489             -74.047727         Van Vorst Park
294916             40.721630             -74.049968            Dixon Mills
294917             40.728745             -74.032108           Newport Pkwy
294918             40.724176             -74.050656           Brunswick St
294919             40.725340             -74.067622        McGinley Square
294920             40.725340             -74.067622        McGinley Square
294921             40.712774             -74.036486       Essex Light Rail
294922             40.721525             -74.046305             Newark Ave
294923             40.737604             -74.052478            Oakland Ave
294924             40.737604             -74.052478            Oakland Ave
294925             40.721525             -74.046305             Newark Ave
294926             40.716247             -74.033459         Exchange Place
294927             40.727596             -74.044247          Hamilton Park

        Gender  Start Station ID  Start Station Latitude  \
0            1              3276               40.714584
1            1              3183               40.716247
2            1              3183               40.716247
3            1              3194               40.725340
4            1              3183               40.716247
5            1              3186               40.719586
6            1              3270               40.725289
7            1              3192               40.711242
8            2              3192               40.711242
9            1              3212               40.734786
10           2              3212               40.734786
11           2              3186               40.719586
12           1              3213               40.718489
13           2              3186               40.719586
14           1              3202               40.727224
15           1              3187               40.721124
16           1              3186               40.719586
17           1              3203               40.727596
18           0              3275               40.718355
19           0              3275               40.718355
20           2              3183               40.716247
21           1              3195               40.730743
22           1              3186               40.719586
23           1              3195               40.730743
24           1              3195               40.730743
25           1              3281               40.745910
26           1              3192               40.711242
27           1              3195               40.730743
28           1              3186               40.719586
29           1              3196               40.744319
...        ...               ...                     ...
294898       1              3199               40.728745
294899       1              3273               40.721651
294900       1              3199               40.728745
294901       1              3187               40.721124
294902       1              3183               40.716247
294903       1              3183               40.716247
294904       1              3195               40.730743
294905       1              3186               40.719586
294906       2              3276               40.714584
294907       1              3186               40.719586
294908       1              3199               40.728745
294909       1              3186               40.719586
294910       1              3275               40.718355
294911       1              3183               40.716247
294912       1              3211               40.721525
294913       0              3211               40.721525
294914       1              3195               40.730743
294915       1              3186               40.719586
294916       2              3275               40.718355
294917       1              3187               40.721124
294918       1              3272               40.723332
294919       1              3213               40.718489
294920       1              3186               40.719586
294921       2              3183               40.716247
294922       2              3203               40.727596
294923       1              3211               40.721525
294924       2              3211               40.721525
294925       1              3203               40.727596
294926       1              3267               40.712419
294927       1              3202               40.727224

        Start Station Longitude  Start Station Longitude   \
0                    -74.042817                       NaN
1                    -74.033459                       NaN
2                    -74.033459                       NaN
3                    -74.067622                       NaN
4                    -74.033459                       NaN
5                    -74.043117                       NaN
6                    -74.045572                       NaN
7                    -74.055701                       NaN
8                    -74.055701                       NaN
9                    -74.050444                       NaN
10                   -74.050444                       NaN
11                   -74.043117                       NaN
12                   -74.047727                       NaN
13                   -74.043117                       NaN
14                   -74.033759                       NaN
15                   -74.038051                       NaN
16                   -74.043117                       NaN
17                   -74.044247                       NaN
18                   -74.038914                       NaN
19                   -74.038914                       NaN
20                   -74.033459                       NaN
21                   -74.063784                       NaN
22                   -74.043117                       NaN
23                   -74.063784                       NaN
24                   -74.063784                       NaN
25                   -74.057271                       NaN
26                   -74.055701                       NaN
27                   -74.063784                       NaN
28                   -74.043117                       NaN
29                   -74.043991                       NaN
...                         ...                       ...
294898               -74.032108                       NaN
294899               -74.042884                       NaN
294900               -74.032108                       NaN
294901               -74.038051                       NaN
294902               -74.033459                       NaN
294903               -74.033459                       NaN
294904               -74.063784                       NaN
294905               -74.043117                       NaN
294906               -74.042817                       NaN
294907               -74.043117                       NaN
294908               -74.032108                       NaN
294909               -74.043117                       NaN
294910               -74.038914                       NaN
294911               -74.033459                       NaN
294912               -74.046305                       NaN
294913               -74.046305                       NaN
294914               -74.063784                       NaN
294915               -74.043117                       NaN
294916               -74.038914                       NaN
294917               -74.038051                       NaN
294918               -74.045953                       NaN
294919               -74.047727                       NaN
294920               -74.043117                       NaN
294921               -74.033459                       NaN
294922               -74.044247                       NaN
294923               -74.046305                       NaN
294924               -74.046305                       NaN
294925               -74.044247                       NaN
294926               -74.038526                       NaN
294927               -74.033759                       NaN

         Start Station Name     Start Time      Stop Time  Trip Duration  \
0          Marin Light Rail    1/1/17 0:21    1/1/17 0:24          148.0
1            Exchange Place    1/1/17 0:24    1/1/17 0:45         1283.0
2            Exchange Place    1/1/17 0:38    1/1/17 0:44          372.0
3           McGinley Square    1/1/17 0:38    1/1/17 1:03         1513.0
4            Exchange Place    1/1/17 1:47    1/1/17 1:58          639.0
5             Grove St PATH    1/1/17 1:56    1/1/17 2:00          258.0
6           Jersey & 6th St    1/1/17 2:12    1/1/17 2:23          663.0
7        Liberty Light Rail    1/1/17 2:15    1/1/17 2:25          567.0
8        Liberty Light Rail    1/1/17 2:16    1/1/17 2:25          551.0
9           Christ Hospital    1/1/17 2:22    1/1/17 2:31          573.0
10          Christ Hospital    1/1/17 2:22    1/1/17 2:31          535.0
11            Grove St PATH    1/1/17 2:23    1/1/17 2:27          224.0
12           Van Vorst Park    1/1/17 2:33    1/1/17 3:01         1699.0
13            Grove St PATH    1/1/17 2:37    1/1/17 2:43          350.0
14             Newport PATH    1/1/17 3:09    1/1/17 3:14          346.0
15                Warren St    1/1/17 3:16    1/1/17 3:22          367.0
16            Grove St PATH    1/1/17 3:24    1/1/17 3:26          148.0
17            Hamilton Park    1/1/17 3:52    1/1/17 3:55          204.0
18           Columbus Drive    1/1/17 4:35   1/1/17 13:57        33726.0
19           Columbus Drive    1/1/17 4:35    1/1/17 4:45          591.0
20           Exchange Place    1/1/17 5:17    1/1/17 5:25          454.0
21                  Sip Ave    1/1/17 5:25    1/1/17 5:29          217.0
22            Grove St PATH    1/1/17 6:29    1/1/17 6:31          107.0
23                  Sip Ave    1/1/17 7:08    1/1/17 7:15          453.0
24                  Sip Ave    1/1/17 7:12    1/1/17 7:20          447.0
25      Leonard Gordon Park    1/1/17 7:38    1/1/17 7:51          730.0
26       Liberty Light Rail    1/1/17 7:55    1/1/17 8:02          435.0
27                  Sip Ave    1/1/17 8:16    1/1/17 8:24          458.0
28            Grove St PATH    1/1/17 8:24    1/1/17 8:28          258.0
29           Riverview Park    1/1/17 8:56    1/1/17 9:05          537.0
...                     ...            ...            ...            ...
294898         Newport Pkwy  6/30/17 22:43  6/30/17 22:55          712.0
294899         Manila & 1st  6/30/17 22:44  6/30/17 22:48          243.0
294900         Newport Pkwy  6/30/17 22:44  6/30/17 22:50          390.0
294901            Warren St  6/30/17 22:46  6/30/17 22:51          280.0
294902       Exchange Place  6/30/17 22:52  6/30/17 22:55          213.0
294903       Exchange Place  6/30/17 22:52  6/30/17 22:56          225.0
294904              Sip Ave  6/30/17 22:52  6/30/17 23:01          548.0
294905        Grove St PATH  6/30/17 22:54  6/30/17 22:57          228.0
294906     Marin Light Rail  6/30/17 23:01  6/30/17 23:05          249.0
294907        Grove St PATH  6/30/17 23:01  6/30/17 23:04          134.0
294908         Newport Pkwy  6/30/17 23:03  6/30/17 23:10          444.0
294909        Grove St PATH  6/30/17 23:03  6/30/17 23:09          360.0
294910       Columbus Drive  6/30/17 23:06  6/30/17 23:11          304.0
294911       Exchange Place  6/30/17 23:08  6/30/17 23:22          859.0
294912           Newark Ave  6/30/17 23:08  6/30/17 23:12          252.0
294913           Newark Ave  6/30/17 23:08  6/30/17 23:12          241.0
294914              Sip Ave  6/30/17 23:09  6/30/17 23:16          406.0
294915        Grove St PATH  6/30/17 23:09  6/30/17 23:13          191.0
294916       Columbus Drive  6/30/17 23:19  6/30/17 23:27          470.0
294917            Warren St  6/30/17 23:22    7/1/17 0:03         2436.0
294918         Jersey & 3rd  6/30/17 23:23  6/30/17 23:26          224.0
294919       Van Vorst Park  6/30/17 23:23  6/30/17 23:32          528.0
294920        Grove St PATH  6/30/17 23:26  6/30/17 23:41          893.0
294921       Exchange Place  6/30/17 23:31  6/30/17 23:35          240.0
294922        Hamilton Park  6/30/17 23:49  6/30/17 23:53          250.0
294923           Newark Ave  6/30/17 23:50    7/1/17 0:05          934.0
294924           Newark Ave  6/30/17 23:50    7/1/17 0:05          908.0
294925        Hamilton Park  6/30/17 23:52  6/30/17 23:56          238.0

In [11]:
big_dataframe.to_csv("./CleanData/citibike_final_data.csv")